ul.active(class='leftmenu')
    h2(align='center') Menu
    li 
        a(href= '/' ) Main Site
  
    -if(session.passport.user)
        li
            a(href='/loginArea/changePassword') Change password
        li
            a(href='/loginArea/deviceManagement') Device management
        li
            a(href='/loginArea/FilesManagment/upload') Managment File
        li
            a(href='/loginArea/TemplateManagment') Manage Templates
        li
            a(href='/loginArea/deviceManagement/changeBreakingNews') Breaking News Managment      
            
        -if(session.passport.user.role == 1)
            li
                a(href='/loginArea/users') User management
                        
        li
                a(href='/logout') Logout    
    -else      
        li
            a(href='/login') Login
