extends ../layout
block content
  
  script.
    function getAdminNameByUserID(userID) { 
      $.post('/loginArea/deviceManagement/getAdminNameByUserID', { 
        userID: userID 
      }).done(function(Login) { 
          $('#adminsName_'+userID).text(Login);
      }); 
    };
    
    $(function() {
      $('#btnAddAdmin').click( function() {  
            var $deviceID = $('#devID').attr('value');
            var $newAdminID = $('#newAdmin').val();
            
            $.post("/loginArea/deviceManagement/addAdmin", 
            { 
                deviceID: $deviceID,
                newAdminID: $newAdminID
            }).done(function(data) {
                if(data == 'OK')
                  alert('Admin added');
                else 
                  alert('Admin already exist');
                window.location.href = '/loginArea/deviceManagement/changeAdmins?deviceID='+$deviceID;
            });
      });
      
      $('[id^=btnRemoveAdmin]').click( function() {  
            var $btn = $(this);
            var $adminID = $btn.attr('adminID');
            var $deviceID = $('#devID').attr('value');
            
            $.post("/loginArea/deviceManagement/removeAdmin", 
            { 
                deviceID: $deviceID,
                adminID: $adminID
            }).done(function(data) {
                window.location.href = '/loginArea/deviceManagement/changeAdmins?deviceID='+$deviceID;
            });
      });
      
    });
  
  div.main-content
    h1 Change Admins
    
    table
      tr
        td Add Admin
        td 
          select(id='newAdmin')
            each user in userList
              option(value=user.ID) #{user.Login}
        td
            input(type="button", class="btn", id="btnAddAdmin", value="Add Admin")
          
    table(class="table table-condensed")
      each dev in device
        tr
          th ID
          th Name
          th Localization
          th IP Address
          th Admins
          
        tr  
          td
            p(id='devID', value=dev.ID) #{dev.ID}
          td #{dev.Name}
          td #{dev.Localization}
          td #{dev.IPAddress}
          td
            table(class="table")
              each admin in adminList
                tr
                  td
                    script getAdminNameByUserID(#{admin.UserID});
                  td
                    div(id="adminsName_" + admin.UserID)
                  td
                    input(type="button", class="btn", id="btnRemoveAdmin_"+admin.UserID , adminID=admin.UserID , device=device.ID, value="Delete")
