extends ../layout
block content

    script.
        $(function() {
            $('#btnNewPasswordrConfirm').click( function() {  
                var $userID = $('#userID').val();
                var $pass1 =$('#newPassword').val();
                var $pass2 = $('#confirmNewPassword').val();
                
                if ($pass1 == '' || $pass2 == ''){
                    alert("You not fill out all required fields!");
                    return;
                }

                if($pass1 != $pass2){
                    alert("Values are not same!");
                    return;
                }
                
                $.post("/loginArea/changePassword", 
                    { 
                        userID: $userID, 
                        password: $pass1 
                    }).done(function(data) {
                        if(data == 'OK') 
                        alert('Password changed!');
                        window.location.href = '/loginArea/';
                });
            });

        });

    div.main-content
        h1 Welcome #{loginUser.Login}
        h3 Zmień hasło
      
        table( class="table table-condensed" id="newUserTable")
            tr
                td
                    p New Password:
                td
                    input(type="password", id="newPassword")    
            tr
                td
                    p Reply New Password:
                td    
                    input(type="password", id="confirmNewPassword")
            tr
                td 
                    input(type="button", id="btnNewPasswordrConfirm", value="Change Password")   
                    input(type="hidden", id="userID", value=loginUser.ID)