extends ../layout
block content
  
  script.
    function getBreakingNews(deviceID, bnID) {
      $.post("/loginArea/deviceManagement/getBreakingNews", {
              breakingNewsID : bnID,
              deviceID: deviceID
            }).done(function(result) {
                if(result == "none"){
                    $('#BreakingNews_' + deviceID).text(result);
                } else {
                  var color;
                  switch(result[1]) {
                    case 'info':
                        color = '#b3d9ff'
                        break;
                    case 'danger':
                        color = '#f67f7f'
                        break;
                    case 'important':
                        color = '#dce721'
                        break;
                    case 'success':
                        color = '#72C774'
                        break;
                  }
                  $('#BreakingNews_' + deviceID).text(result[0]);
                  $('#BreakingNews_' + deviceID).css('background', color);
                  $('#StartTimeDiv_' + deviceID).text( moment(result[2]).format('YYYY-MM-DD HH:mm:ss') );
                  $('#EndTimeDiv_' + deviceID).text( moment(result[3]).format('YYYY-MM-DD HH:mm:ss') );
                }   
            });
    };
    
    function fillInput(select, deviceID) {
      $('#inputEditBreakingNews_'+deviceID).val( select.options[select.selectedIndex].text ); 
    };
    
    $(function() {
      jQuery('[id^=datetimepickerStart_]').datetimepicker();
      jQuery('[id^=datetimepickerEnd_]').datetimepicker();
      
      $('[id^=btnChangeBreakingNews]').click( function() {  
            var $btn = $(this);
            var $deviceID = $btn.attr('device');
            var $ContentBreakingNews = $('#inputEditBreakingNews_'+$deviceID).val();
            var $CategoryBreakingNews = $('#selectCategoryBreakingNews_'+$deviceID).val();
            var $IDBreakingNews = $('#selectBreakingNews_'+$deviceID).val();
            var $startTime = $('#datetimepickerStart_'+$deviceID).val();
            var $endTime = $('#datetimepickerEnd_'+$deviceID).val();
            
            if(!$ContentBreakingNews){
              alert("You must type content of Breaking News!")
              return;
            }
            
            if(!$startTime || !$endTime){
              alert("You must select start and end date!")
              return;
            }
            
            $.post("/loginArea/deviceManagement/changeBreakingNews", 
            { 
                deviceID: $deviceID,
                IDBreakingNews: $IDBreakingNews,
                ContentBreakingNews: $ContentBreakingNews,
                CategoryBreakingNews: $CategoryBreakingNews,
                StartTime: $startTime,
                EndTime: $endTime
            }).done(function(data) {
                window.location.href = '/loginArea/deviceManagement/changeBreakingNews';
            });
            
      });
      
      $('[id^=btnRemoveBreakingNewsFromDevice]').click( function() {
            var $btn = $(this);
            var $deviceID = $btn.attr('device');
            $.post("/loginArea/deviceManagement/removeBreakingNewsFromDevice", 
            {
                deviceID: $deviceID
            }).done(function(data) {
              if(data == 'OK')
                  window.location.href = '/loginArea/deviceManagement/changeBreakingNews';
            });
      });
      
      $('#btnRemoveBreakingNewsFromDB').click( function() {
            var $bnID = $('#selectBreakingNewsToDelete').val();
            $.post("/loginArea/deviceManagement/removeBreakingNewsFromDB", 
            {
                breakingNewsID: $bnID
            }).done(function(data) {
              if(data == 'OK')
                alert('Breaking News deleted')
                  window.location.href = '/loginArea/deviceManagement/changeBreakingNews';
            });
      });
      
      $('#btnNewBreakingNews').click( function() {
            var $bnContent = $('#newBreakingNewsContent').val();
            var $bnCategory = $('#selectCategoryNewBreakingNews').val();
            
            if(!$bnContent){
              alert("You have type content of Breaking News");
              return;
            }
            
            $.post("/loginArea/deviceManagement/addNewBreakingNews", 
            {
                breakingNewsContent: $bnContent,
                breakingNewsCategory: $bnCategory
            }).done(function(data) {
              if(data == 'OK')
                alert('Breaking News added')
                  window.location.href = '/loginArea/deviceManagement/changeBreakingNews';
            });
      });
    });
    
  div.main-content
    h1 Change Breaking News
    
    table( id="newBreakingNewsTable")
        tr
            td
                p Content:
            td
                input(type="text", id="newBreakingNewsContent", size=40)    
            td( style="padding:0 15px 0 15%;" )
              select(id="selectBreakingNewsToDelete")
                each breakingNews in breakingNewsList
                  case breakingNews.Category
                    when 'info'
                      -var color = '#b3d9ff'
                    when 'danger'
                      -var color = '#f67f7f'
                    when 'important'
                      -var color = '#dce721'
                    when 'success'
                      -var color = '#72C774'
                    
                  option(value=breakingNews.ID, style="background: "+color+";") #{breakingNews.Content}
        tr
            td
                p Category:
            td    
              select(id="selectCategoryNewBreakingNews")
                option(style="background: #b3d9ff;" val="info") info
                option(style="background: #f67f7f;" val="danger") danger
                option(style="background: #dce721;" val="important") important
                option(style="background: #72C774;" val="success") success
            td( style="padding:0 15px 0 15%;" )
              input(type="button", id="btnRemoveBreakingNewsFromDB", class="btn", value="Remove Breaking News From Data Base") 
        tr
            td 
                input(type="button", id="btnNewBreakingNews", class="btn" value="Add Breaking News")   

    br
    table(class="table table-condensed")
      each dev in device
        tr
          th ID
          th Name
          th Localization
          th Actual Breaking News
          th(colspan="3") Change Breaking News
          
        tr  
          td
            p(id='devID', value=dev.ID) #{dev.ID}
          td #{dev.Name}
          td #{dev.Localization}
          td
            -if(dev.BreakingNewsID == null)
              -dev.BreakingNewsID="null"
            script getBreakingNews(#{dev.ID}, #{dev.BreakingNewsID});
            div(id="BreakingNews_" + dev.ID)   
          td(style='white-space:pre;')
            select(id="selectBreakingNews_"+dev.ID, onchange="fillInput(this, #{dev.ID})")
              each breakingNews in breakingNewsList
                case breakingNews.Category
                  when 'info'
                    -var color = '#b3d9ff'
                  when 'danger'
                    -var color = '#f67f7f'
                  when 'important'
                    -var color = '#dce721'
                  when 'success'
                    -var color = '#72C774'
                   
                option(value=breakingNews.ID, style="background: "+color+";") #{breakingNews.Content}
            br
            br
            span= "Text: "
            input(type="text", id="inputEditBreakingNews_"+dev.ID, device=dev.ID, size=30 )
            br
            span= "Category: "
            select(id="selectCategoryBreakingNews_"+dev.ID)
              option(style="background: #b3d9ff;") info
              option(style="background: #f67f7f;") danger
              option(style="background: #dce721;") important
              option(style="background: #72C774;") success
            br
            span= "Start Time: "
            input(type="text", id="datetimepickerStart_"+dev.ID, class="startTime")
            br
            span= "End Time: "
            input(type="text", id="datetimepickerEnd_"+dev.ID, class="endTime")
            
          td
            span= "Start Time: "
            div(id="StartTimeDiv_" + dev.ID)
            br
            span= "End Time: "
            div(id="EndTimeDiv_" + dev.ID)

          td
            input(type="button", id="btnChangeBreakingNews_"+dev.ID, class="btn", device=dev.ID, value="Change Breaking News") 
            br
            br
            input(type="button", id="btnRemoveBreakingNewsFromDevice_"+dev.ID, class="btn", device=dev.ID, value="Remove Breaking News From Device") 
