extends ../layout
block content
    script.
        function getAdminsNameByDeviceID(deviceID) { 
          $.post('/loginArea/deviceManagement/getAdminsNameByDeviceID', { 
            deviceID: deviceID 
          }).done(function(adminsArray) { 
            var result = "";
            for(i=0;i<adminsArray.length;i++)
              result += adminsArray[i] + " ";
            $('#adminsName_'+deviceID).text(result);
          }); 
        };
      
        function getStatusCode(statusID) { 
          $.post('/loginArea/deviceManagement/getStatusCode', { 
            statusID: statusID 
          }).done(function(statusCode) { 
            $('#statusCode').text(statusCode);
          }); 
        };
      
        function getTemplateName(deviceID) { 
          $.post('/loginArea/deviceManagement/getTemplateName', { 
            deviceID: deviceID 
          }).done(function(templates) {
            if(!templates)
              $('#templatesName_' + deviceID).text('none');
            else
              {
                var result = "";
                for(i=0; i<templates.length; i++)
                  result += templates[i] + " ";
                $('#templatesName_' + deviceID).text(result);
              }
          }); 
        };
        
        function getBreakingNews(deviceID, bnID) {
          $.post("/loginArea/deviceManagement/getBreakingNews", {
                  breakingNewsID : bnID,
                  deviceID: deviceID
                }).done(function(result) {
                  if(result != "none"){
                      var color;
                      switch(result[1]) {
                        case 'info':
                            color = '#b3d9ff'
                            break;
                        case 'danger':
                            color = '#f67f7f'
                            break;
                        case 'important':
                            color = '#dce721'
                            break;
                        case 'success':
                            color = '#72C774'
                            break;
                      } 
                      $('#BreakingNews_' + deviceID).text(result[0]);
                      $('#BreakingNews_' + deviceID).css('background', color);
                    } else {
                      $('#BreakingNews_' + deviceID).text("none");
                    }
                });
        };
        
        function checkOnline(deviceID, ip) {
          $.post("/loginArea/deviceManagement/checkOnline", { 
                  deviceID: deviceID, 
                  ip: ip
              }).done(function(status) {
                var color;
                var block;
                switch (status.StatusID) {
                  case 1:
                    color = "";
                    block = "Online";   
                    break;
                  
                  case 2:
                    color = "#FF6666";
                    block = "Offline";
                    break;  
                    
                  default:
                    color = "#DCE721";
                    block = "Error";   
                    break;
                }
                $('#deviceStatus_'+ deviceID).css('background-color', color);
                $('#statusCode_'+ deviceID).text(block);
              });    
          };
          
        $(function() {
            $('[id^=btnBreakingNews]').click( function() {  
                var $btn = $(this);
                var $deviceID = $btn.attr('device');
                window.location.href = '/loginArea/deviceManagement/changeBreakingNews?deviceID='+$deviceID;
            });
            
            $('.btnDeleteDevice').click( function() {  
                if (confirm('Are you sure ?')) {
                    var $btn = $(this);
                    var $deviceID = $btn.attr('device');
                    $.post("/loginArea/deviceManagement/deleteDevice", 
                    { 
                        deviceID: $deviceID, 
                    }).done(function(data) {
                        if(data == 'OK') window.location.href = '/loginArea/deviceManagement';
                    });
                }
            });
            
            $('#btnAddDevice').click( function() {
               $('#newDeviceTable').css({'display':'block'}); 
            });
            
            $('.btnChangeAdmins').click( function() {
              var $btn = $(this);
              var $deviceID = $btn.attr('device');
              window.location.href = "/loginArea/deviceManagement/changeAdmins?deviceID="+$deviceID;
            });
            
            $('[class^=btnChangeTemp]').click( function() {
              var $btn = $(this);
              var $deviceID = $btn.attr('device');
              var $Temp = $('#SelectTemp_'+$deviceID).val();
            
              $.post("/loginArea/deviceManagement/updateTemplateInDevice", 
                  {
                      deviceID: $deviceID, 
                      Temp: $Temp
                  }).done(function(data) {
                        alert('Template saved');
                        window.location.href = '/loginArea/deviceManagement';      
                      }); 
            });
            
            $('#newDeviceConfirm').click( function() {  
                var $name = $('#newDeviceName').val();
                var $location = $('#newDeviceLocation').val();
                var $ip = $('#newDeviceIP').val();
                var $deviceAdmin = $('#newDeviceAdmin').val();

                if ($name == '' || $location == '' || $ip == ''){
                    alert("You not fill out all required fields!");
                    return;
                }
                
                $.post("/loginArea/deviceManagement/addDevice", 
                {
                    name: $name, 
                    location: $location,
                    ip: $ip,
                    deviceAdmin: $deviceAdmin
                }).done(function(data) {
                      alert('Device saved');
                      window.location.href = '/loginArea/deviceManagement';      
                });
            });
            
            $('[id^=btnChangeIP_]').click( function() {  
                var $btn = $(this);
                var $deviceID = $btn.attr('device');
                
                $('#changeIPDIV_'+$deviceID).css({'display':'none'});
                $('#btnChangeIP_'+$deviceID).css({'display':'none'});
                
                $('#inputHiddenChangeIP_'+$deviceID).css({'display':'block'});
                $('#btnHiddenChangeIP_'+$deviceID).css({'display':'block'});
            });
            
            $('[id^=btnHiddenChangeIP_]').click( function() {  
                var $btn = $(this);
                var $deviceID = $btn.attr('device');
                var $ipAddress = $('#inputHiddenChangeIP_'+$deviceID).val();
                
                $.post("/loginArea/deviceManagement/changeIP", 
                {
                  deviceID: $deviceID, 
                  ipAddress: $ipAddress
                }).done(function(data) {
                  if(data == 'OK'){
                    alert('IP Changed');
                  }
                  else {
                    alert('IP is occupied');
                  }
                    window.location.href = '/loginArea/deviceManagement';      
                }); 
            }); 
            
        });

    div.main-content
        h1 Devices Management
        
        input(type="button", class="btn", id="btnAddDevice", value="Add Device")    
        table( class="table table-condensed" id="newDeviceTable", style="display: none")
            tr
                td
                    p Name:
                td
                    input(type="text", id="newDeviceName")    
            tr
                td
                    p Location:
                td    
                    input(type="text", id="newDeviceLocation")
            tr
                td
                    p IP:
                td    
                    input(type="text", id="newDeviceIP")
            tr
                td
                    p Admin:
                td
                    select(id="newDeviceAdmin")
                        each user in userList
                          option(value="#{user.ID}") #{user.Login}    
            tr
                td 
                    input(type="button", id="newDeviceConfirm",  style="display: block", value="Confirm")   
    
        table(class="table table-condensed")
            tr
                th ID
                th Name
                th Localization
                th Storage
                th IP Adress
                th Breaking News
                th Administrators
                th Actual Template
                th Status
                th Delete
                th Change Admins
                th Select Template
                
            each device in devicesList
                script checkOnline(#{device.ID}, '#{device.IPAddress}');
                tr(id="deviceStatus_" + device.ID)
                    td #{device.ID} 
                    td #{device.Name} 
                    td #{device.Localization}
                    td #{device.Storage} 
                    td 
                      div(id="changeIPDIV_"+device.ID) #{device.IPAddress}
                      input(type="button", id="btnChangeIP_"+device.ID, class="btn", device=device.ID, value="Change IP") 
                      input(type="text", id="inputHiddenChangeIP_"+device.ID, device=device.ID, value=device.IPAddress, style="display: none") 
                      br
                      input(type="button", id="btnHiddenChangeIP_"+device.ID, class="btn", device=device.ID, value="Confirm IP", style="display: none") 
                    td
                      -if(device.BreakingNewsID == null)
                        -device.BreakingNewsID="null";
                      script getBreakingNews(#{device.ID}, #{device.BreakingNewsID});
                      div(id="BreakingNews_" + device.ID)
                      br
                      input(type="button", id="btnBreakingNews_"+device.ID, class="btn", device=device.ID, value="Change Breaking News") 
                    td 
                      script getAdminsNameByDeviceID(#{device.ID});
                      div(id="adminsName_" + device.ID)  
                    td 
                      script getTemplateName(#{device.ID});
                      div(id="templatesName_" + device.ID) 
                    td 
                      div(id="statusCode_" + device.ID)
                    td
                      input(type="button", class="btnDeleteDevice", device=device.ID, value="Delete")
                    td
                      input(type="button", class="btnChangeAdmins", device=device.ID, value="Change Admins")
                    td        
                      form(id="ChangeTemp", method="post")
                        select(id="SelectTemp_"+device.ID)
                          each Temp in TempList
                            option(value= Temp.ID) #{Temp.Name}                        
                          input(type="button", class="btnChangeTemp_"+ device.ID , device = device.ID, value="Change Template")
