extends ../layout
block content
    script(src='../../javascripts/interact.js')
    script(src='../../javascripts/interactFunctions.js')

    script.
        $(function() {
            jQuery('[id^=datetimepickerStart_]').datetimepicker();
            jQuery('[id^=datetimepickerEnd_]').datetimepicker();

            $('#AddPic1').click( function() {
                var $Screen1 = $('#ekran1').val();
                var $Time1 = $('#Time1').val();
                if($Screen1 == "" || $Time1 == ""){
                    alert("Error, no data")
                } else {

                    var $Suma1 = $('#Suma1').val();
                    var $Suma2 = $('#Suma2').val();

                    var $Title = $('#Title').val();


                    var $IDTemp = $('#IDTemp').val();
                    var $IDFile1 = $('#IDFile1').val();

                    var $temp1= 0;
                    //dodać aktualizację DurationTime w Templates
                    var $Duration1 = $Suma1*1 + $Time1*1;

                    if($Duration1 >= $Suma2) $temp1 = $Duration1;
                    else $temp1 = $Suma2;

                    $.post("/loginArea/TemplateManagment/EditTemplate/addFileToScreen1", {
                        Screen1: $Screen1,
                        Time1: $Time1,
                        IDTemp: $IDTemp,
                        IDFile1: $IDFile1,
                        temp1: $temp1
                      }).done(function(data) {
                        alert("Added file on screen 1");

                        window.location.href = '/loginArea/TemplateManagment/EditTemplate?title='+$Title+'';
                        });
                      }
            });


                $('#AddPic2').click( function() {

                    var $Screen2 = $('#ekran2').val();
                    var $Time2 = $('#Time2').val();

                    if($Screen2 == "" || $Time2 == ""){
                        alert("Error, no data")
                    } else {
                    var $Suma1 = $('#Suma1').val();
                    var $Suma2 = $('#Suma2').val();
                    var $Title = $('#Title').val();
                    var $IDTemp = $('#IDTemp').val();
                    var $IDFile2 = $('#IDFile2').val();

                    var temp2= 0;
                    //dodać aktualizację DurationTime w Templates
                    var $Duration2 = $Suma2*1 + $Time2*1;
                    if($Duration2 >= $Suma1) $temp2 = $Duration2;
                    else $temp2 = $Suma1;

                    $.post("/loginArea/TemplateManagment/EditTemplate/addFileToScreen2", {
                        Screen2: $Screen2,
                        Time2: $Time2,
                        IDTemp: $IDTemp,
                        IDFile2: $IDFile2,
                        temp2: $temp2
                      }).done(function(data) {
                        alert("Added file on screen 2");

                        window.location.href = '/loginArea/TemplateManagment/EditTemplate?title='+$Title+'';
                        });
                        }
                });
                $('[class^=Submit]').click( function() {
                    var $DataStart = $('#datetimepickerStart_').val();
                    var $DataEnd = $('#datetimepickerEnd_').val();

                    if($DataStart == "" || $DataEnd == "")
                    {
                        alert("Correct date of start or date of end");
                    } else {

                        var $Title = $('#Title').val();
                        var $date_begin = $('#datetimepickerStart_').val();
                        var $date_end = $('#datetimepickerEnd_').val();
                        var $Author = $('#Author').val();


                        $.post("/loginArea//TemplateManagment/EditTemplate", {
                            title: $Title,
                            date_begin: $date_begin,
                            date_end: $date_end,
                            author: $Author
                        }).done(function(data) {
                            alert("updated template");

                            window.location.href = '/loginArea/TemplateManagment/EditTemplate?title='+$Title+'';
                        });
                    }

                });

                $('[class^=DeleteFromScreen1]').click( function() {
                    var $Suma1 = $('#Suma1').val();
                    var $Suma2 = $('#Suma2').val();

                    var $IDTemp = $('#IDTemp').val();
                    var $btn = $(this);
                    var $FileID1 = $btn.attr('FileID');
                    var $Title = $('#Title').val();
                    var $File1Duration = $btn.attr('FileDuration');

                    var temp1= 0;
                    var $Duration1 = $Suma1*1 - $File1Duration*1;

                    if($Duration1 >= $Suma2) $temp1 = $Duration1;
                    else $temp1 = $Suma2;


                    $.post("/loginArea/TemplateManagment/EditTemplate/DeleteFromScreen1", {
                        FileID1: $FileID1,
                        Duration1: $temp1,
                        IDTemp: $IDTemp

                            }).done(function(data) {
                                alert("Delete file from screen 1");

                                window.location.href = '/loginArea/TemplateManagment/EditTemplate?title='+$Title+'';
                        });

                    //window.location.href = "/loginArea/deviceManagement/changeAdmins?deviceID="+$deviceID;
                });


                $('[class^=DeleteFromScreen2]').click( function() {
                    var $Suma1 = $('#Suma1').val();
                    var $Suma2 = $('#Suma2').val();

                    var $IDTemp = $('#IDTemp').val();
                    var $Title = $('#Title').val();
                    var $btn = $(this);
                    var $FileID2 = $btn.attr('FileID');
                    var $File2Duration = $btn.attr('FileDuration');

                    var temp2= 0;
                    var $Duration2 = $Suma2*1 - $File2Duration*1;

                    if($Duration2 >= $Suma1) $temp2 = $Duration2;
                    else $temp2 = $Suma1;


                    $.post("/loginArea/TemplateManagment/EditTemplate/DeleteFromScreen2", {
                        FileID2: $FileID2,
                        Duration2: $temp2,
                        IDTemp: $IDTemp

                            }).done(function(data) {
                                alert("Delete file from screen 2");

                                window.location.href = '/loginArea/TemplateManagment/EditTemplate?title='+$Title+'';
                        });

                });

            });


    body
        div.main-content

            h1=title
            p Welcome to #{Name}
                div.input
                        span Data utworzenia
                        label(type="text", name="date") #{date1}
                        input(id="Title", type="text", name="title", value= Name).hidden
                        input(id="Author", type="hidden", name="author", value = session.passport.user.Login)
                        input(id="IDTemp", type="hidden", name="ID", value = Id)
                        input(id="IDFile1", type="hidden", name="FileID1", value ="" )
                        input(id="IDFile2", type="hidden", name="FileID2", value ="" )
                        input(id="Suma1", type="hidden", name="Suma", value = suma1)
                        input(id="Suma2", type="hidden", name="Suma", value = suma2 )

                div.input.hidden
                    span Data utworzenia
                    input(type="text", name="date", value= date1)

                div.input
                    span Data rozpoczęcia
                    input(type="text", id="datetimepickerStart_", class="startTime", name="date_begin", value= StartTime)
                div.input
                    span Data zakończenia
                    input(type="text", id="datetimepickerEnd_", class="endTime", name="date_end", value= EndTime)
                div.actions
                    input(id="Submit", class= "Submit", type="submit", value="Submit")

                if OneScreen == 0
                  div.Ekran1
                      div.input
                          span Czas trwania ekranu 1(w sekundach)
                          input(id="Time1", type="text", name="duration1")
                      div.input
                          span Ekran1
                          input(id = "ekran1", type="text",name="ekran_1", value= "")
                      div.actions
                          input(id="AddPic1", type="submit", value="add")

                  div.Ekran2
                      div.input
                          span Czas trwania ekranu 2(w sekundach)
                          input(id="Time2", type="text", name="duration2")
                      div.input
                          span Ekran2
                          input(id = "ekran2", type="text",name="ekran_2", value= "")
                      div.actions
                          input(id="AddPic2",type="submit", value="add")
                  br

                  #outer-dropzone.dropzone ekran1
                  #inner-dropzone.dropzone  ekran2

                  each file in files
                      if file.Name.split(".")[1] =="png"
                          img(id = file.ID, ID=file.ID,  name = file.Name, src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}

                      if file.Name.split(".")[1] =="gif"
                          img(id = file.ID, ID=file.ID,  name = file.Name, src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}
                      if file.Name.split(".")[1] =="jpg"
                          img(id = file.ID, ID=file.ID,  name = file.Name, src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}
                      if file.Name.split(".")[1] =="mp4"
                          video(id=file.ID, name = file.Name, poster="../../images/favicon.ico" src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}
                      if file.Name.split(".")[1] =="pdf"
                          img(id=file.ID, name = file.Name, src= "../../images/favicon.ico").draggable.multimedia
                          p.multimedia
                              |#{file.Name}

                  div.Napisy1
                      for DisplayFile1, i in DisplayFiles1
                          div.input
                            input(id= DisplayFile1.Name, type="type", value= DisplayFile1.Name)
                            p
                              |#{DisplayFile1.FileDuration}
                          div.actions
                              input(id="DelFromScreen1", class= "DeleteFromScreen1", FileID = DisplayFile1.FileID, FileDuration= DisplayFile1.FileDuration ,type="submit", value="Usuń")
                      p
                          |#{suma1}

                  div.Napisy2
                      for DisplayFile2, i in DisplayFiles2
                          div.input
                            input(id= DisplayFile2.Name, type="type", value= DisplayFile2.Name)
                            p
                              |#{DisplayFile2.FileDuration}
                          div.actions
                              input(id="DelFromScreen2", class= "DeleteFromScreen2", FileID = DisplayFile2.FileID, FileDuration= DisplayFile2.FileDuration ,type="submit", value="Usuń")
                      p
                          |#{suma2}

                else
                  div.Ekran1
                      div.input
                          span Czas trwania ekranu 1(w sekundach)
                          input(id="Time1", type="text", name="duration1")
                      div.input
                          span Ekran1
                          input(id = "ekran1", type="text",name="ekran_1", value= "")
                      div.actions
                          input(id="AddPic1", type="submit", value="Dodaj")

                  br

                  #outer-dropzone.dropzone ekran1

                  each file in files
                      if file.Name.split(".")[1] =="png"
                          img(id = file.ID, ID=file.ID,  name = file.Name, src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}

                      if file.Name.split(".")[1] =="gif"
                          img(id = file.ID, ID=file.ID,  name = file.Name, src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}
                      if file.Name.split(".")[1] =="jpg"
                          img(id = file.ID, ID=file.ID,  name = file.Name, src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}
                      if file.Name.split(".")[1] =="mp4"
                          video(id=file.ID, name = file.Name, poster="../../images/favicon.ico" src='../../uploads/' + file.Name).draggable.multimedia
                          p.multimedia
                              |#{file.Name}
                      if file.Name.split(".")[1] =="pdf"
                          img(id=file.ID, name = file.Name, src= "../../images/favicon.ico").draggable.multimedia
                          p.multimedia
                              |#{file.Name}

                  div.Napisy1
                      for DisplayFile1, i in DisplayFiles1
                          input(id=DisplayFile1.Name, type="type", value= DisplayFile1.Name)
                          div.actions
                              input(id="DelFromScreen1", class= "DeleteFromScreen1", FileID = DisplayFile1.FileID, FileDuration= DisplayFile1.FileDuration ,type="submit", value="Usuń")
                      p
                          |#{suma1}
