extends ../layout
block content
    script(src='/javascripts/scripts.js')
    script.
        $(function() {
            var Names = "#{templateNames}";


            $('.btnEditTemplate').click( function() {
                var $btn = $(this);
                var $templateName = $btn.attr('template');
                window.location.href = '/loginArea/TemplateManagment/EditTemplate?title='+$templateName;
            });
            $('.btnDeleteTemplate').click( function() {
                if (confirm('Are you sure ?')) {

                    var $btn = $(this);
                    var $templateName = $btn.attr('templateName');
                    var $templateID = $btn.attr('template');
                    $.post("/loginArea/TemplateManagment/DeleteTemplate",
                    {
                        templateID: $templateID,
                    }).done(function(data) {
                        if(data == 'OK')
                        window.location.href = '/loginArea/TemplateManagment';
                    });
                }
            });
            $('#submit').click( function() {
                var OneScreen = 0;
                var $templateName = $('#title').val();
                var $templateCreation = $('#time').val();
                



                if($templateName == "" || $templateCreation == ""){
                    alert("Error, no template name or na date");
                } else {
                        if(Names.indexOf($templateName) != -1){
                            alert("Error, thisn template name exist, please use other");
                              window.location.href = '/loginArea/TemplateManagment';
                        } else {
                      if($('#OneScreen').prop('checked')) {
                          OneScreen = 1;
                      } else {
                          OneScreen = 0;
                      }
                      $.post("/loginArea/TemplateManagment",
                      {
                          templateCreation: $templateCreation,
                          templateName: $templateName,
                          OneScreen: OneScreen
                      }).done(function(data) {
                          window.location.href = '/loginArea/TemplateManagment';
                      });
                    }

              };
            });
        });

    body(onload="startTime()")
        div.main-content
            table
                tr
                    td
                        div.input
                        span Template name
                    td
                        input(id= "title" ,type="text", name="title")
                        input(id= "OneScreen", type="checkbox", checked=(true===false ? "checked" : undefined))
                        |One screen?
                tr
                    td
                        div.input
                        span Time
                    td
                        input(id= "time", type="text", name="time")
                tr
                    td
                        div.actions
                        input(id = "submit", type="submit", value="Create new template")

            table(class="table table-condensed")
                tr
                    th ID
                    th Name
                    th Author
                    th Creation Date
                    th Strat Date
                    th End Date
                    th Duration Time
                    th Edit
                    th Delete

                each template in templateList
                    tr
                        td #{template.ID}
                        td #{template.Name}
                        td #{template.Author}
                        td= moment(template.CreationDate).format('MMMM Do YYYY, h:mm:ss a')
                        td= moment(template.StartDate).format('MMMM Do YYYY, h:mm:ss a')
                        td= moment(template.EndDate).format('MMMM Do YYYY, h:mm:ss a')
                        td #{template.DurationTime}
                            //
                                td
                                    script getAdminName(#{template.ID});
                                    div(id="adminName")
                                td
                                    script getTemplateName(#{template.ID});
                                    div(id="templateName")
                                td
                                    script getStatusCode(#{template.ID});
                                    div(id="statusCode")
                                td #{block}
                            //
                                td
                                    input(type="button", class="btnEditTemplate_"+template.ID, template=template.ID, value="Edit")
                                td
                                    input(type="button", class="btnDeleteTemplate"+template.ID, template=template.ID, value="Delete")
                        td
                            input(type="button", class="btnEditTemplate", template=template.Name, value="Edit")
                        td
                            input(type="button", class="btnDeleteTemplate", template=template.ID, templateName=template.Name, value="Delete")



        //
            form(name="add", method="get" action = "/loginArea/TemplateManagment/EditTemplate")
                div.input
                    span Nazwa szablonu
                    input(type="text", name="title")
                div.actions
                    input(type="submit", value="Go to existing templates ")
