extends ../layout
block content
    script.
        $(function()
          {
            $('#AddFile').click( function() {
              var $PermitedExtension = ["mp4", "jpg", "png", "gif", "pdf"];
              var $FileName = $("#file").val().toLowerCase();

                if($FileName == '')
                    alert("No element to add");

                if((jQuery.inArray($FileName.split(".")[$FileName.split.length - 1],$PermitedExtension) == -1) && ($FileName != ''))
                  {
                    alert("Bad extension of file");

                  };
            });



            $('.btnDeleteFile').click( function() {
                if (confirm('Are you sure ?')) {
                    var $btn = $(this);
                    var $FileName = $btn.attr('filename');
                    var $FileId = $btn.attr('fileid');
                    $.post("/loginArea/FilesManagment/delete",
                    {
                        FileName: $FileName,
                        FileId: $FileId
                    }).done(function(data) {
                        if(data == 'OK') window.location.href = '/loginArea/FilesManagment/upload';
                    });
                }
                });
            });

    div.main-content
        h1=title
        p Welcome to #{title}
        form(id = "uploadForm", enctype = "multipart/form-data", action = "/loginArea/FilesManagment/upload", method = "post")
            input(id="file" type = "file", name = "tak")
            input(id ="AddFile" type = "submit", value = "Upload", name = "submitAdd")

        table(class="table")
            each file in Files
                tr
                    td
                        if file.Name.split(".")[1] =="mp4"
                            video(id="Movie", controls poster="/images/favicon.ico" source='../../uploads/' + file.Name, width="100", height="100")

                        if file.Name.split(".")[1] =="jpg"
                            img(name = file.Name, src='../../uploads/' + file.Name, width="100", height="100")

                        if file.Name.split(".")[1] =="png"
                            img(name = file.Name, src='../../uploads/' + file.Name, width="100", height="100")

                        if file.Name.split(".")[1] =="gif"
                            img(name = file.Name, src='../../uploads/' + file.Name, width="100", height="100")

                        if file.Name.split(".")[1] =="pdf"
                            p
                                |#{file.Name}
                    td
                        input(class= "btnDeleteFile" ,type = "submit", value = "Delete", filename= file.Name, fileid = file.ID,  name = "submitDel")
