extends ../layout
block content

    script.
        $(function() {
            $('[id^=btnBlock]').click( function() {  
                var $btn = $(this);
                var $userID = $btn.attr('user');
                var $blockVal = $btn.attr('blockVal');
                $.post("/loginArea/users/blockUser", 
                  { 
                      userID: $userID, 
                      blockVal: $blockVal 
                  }).done(function(data) {
                      if(data == 'OK') window.location.href = '/loginArea/users';
                });
            });

            $('[id^=btnDeleteUser]').click( function() {  
                if (confirm('Are you sure ?')) {
                    var $btn = $(this);
                    var $userID = $btn.attr('user');
                    $.post("/loginArea/users/deleteUser", 
                    { 
                        userID: $userID, 
                    }).done(function(data) {
                        if(data == 'OK') window.location.href = '/loginArea/users';
                    });
                }
            });

            $('[id^=ResetPassword]').click( function() {
                var $btn = $(this);
                var $userID = $btn.attr('user');
               $('#ResetPassword_'+$userID).css({'display':'none'});
               $('#IdresetPasswordInput_'+$userID).css({'display':'block'});
               $('#ResetPasswordConfirm_'+$userID).css({'display':'block'});
            });

            $('[id^=ResetPasswordConfirm]').click( function() {  
                var $btn = $(this);
                var $userID = $btn.attr('user');
                var $passVal = $('#IdresetPasswordInput_'+$userID).val();
                $.post("/loginArea/users/resetPassword", 
                  { 
                      userID: $userID, 
                      passVal: $passVal 
                  }).done(function(data) {
                      if(data == 'OK'){
                          alert('Password changed');
                          window.location.href = '/loginArea/users';
                  } 
                });
            });

            $('[id^=btnChangeRole]').click( function() {  
                var $btn = $(this);
                var $userID = $btn.attr('user');
                var $roleValue = $('#selectChangeRole_'+$userID).val();
                $.post("/loginArea/users/changeRole", 
                { 
                    userID: $userID, 
                    roleValue: $roleValue 
                }).done(function(data) {
                    if(data == 'OK'){
                        alert('Role changed');
                        window.location.href = '/loginArea/users';
                    }
                });
            });

            $('#btnAddUser').click( function() {  
               $('#newUserTable').css({'display':'block'});
               $('#btnAddUser').css({'display':'none'});
            });

            $('#newUserConfirm').click( function() {  
                var $login = $('#newUserLogin').val();
                var $email = $('#newUserEmail').val();
                var $passVal = $('#newUserPassword').val();
                var $role = $('#newUserRole').val();

                if ($login == '' || $email == '' || $passVal == ''){
                    alert("You not fill out all required fields!");
                    return;
                }

                var emailReg = new RegExp('^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$');
                if (!emailReg.test($email)){
                    alert("Wrong email address!");
                    return;
                }

                $.post("/loginArea/users/addUser", 
                    {
                        login: $login, 
                        email: $email,
                        passVal: $passVal,
                        role: $role
                    }).done(function(data) {
                        if(data.data == 'OK'){
                            if(data.success){
                                alert(data.msg);
                                window.location.href = '/loginArea/users';
                            }
                            else{
                                alert(data.msg);
                            }
                        } 
                    });
                    
            });
            
        });

    div.main-content
        h1 Welcome #{loginUser.Login}
        p User Management

        input(type="button", id="btnAddUser", value="Add User") 
        
        table( class="table table-condensed" id="newUserTable", style="display: none")
            tr
                td
                    p Login:
                td
                    input(type="text", id="newUserLogin")    
            tr
                td
                    p Email:
                td    
                    input(type="text", id="newUserEmail")
            tr
                td
                    p Password:
                td    
                    input(type="password", id="newUserPassword")
            tr
                td
                    p Role:
                td
                    select(id="newUserRole")
                        option(value="0") Admin
                        option(value="1") Operator
            tr
                td 
                    input(type="button", id="newUserConfirm",  style="display: block", value="Confirm")   


        table(class="table table-condensed")
            tr
                th ID
                th Login
                th Email
                th Role
                th Block User
                th Reset Password
                th Delete User

            each user in usersList
                -if(user.Block == 1)
                    -var color = "#FF6666"
                    -var block = "Active"
                -else
                    -var color = ""
                    -var block = "Block"
                tr(bgcolor= color)
                    td #{user.ID} 
                    td #{user.Login} 
                    td #{user.Email} 
                    td
                      -if(user.Role == 1) 
                          p Admin
                      -else 
                          p Operator
                      -if(loginUser.role == 1){
                          select(id='selectChangeRole_'+user.ID)
                            option(value=1) Admin
                            option(value=2) Operator
                            
                          input(type="button", id="btnChangeRole_"+user.ID, class="btn", user=user.ID, , value='Change Role')         
                      -} 
                    td 
                        input(type="button", id="btnBlock"+user.ID, class="btn", user=user.ID, blockVal=user.Block, value=block)       
                    td
                        input(type="button", id="ResetPassword_"+user.ID, class="btn", user=user.ID, value="Reset Password")
                        input(type="password", id="IdresetPasswordInput_"+user.ID, style="display: none", user=user.ID)
                        input(type="button", id="ResetPasswordConfirm_"+user.ID, class="btn", style="display: none", user=user.ID, value="Confirm")
                    td
                        input(type="button", class="btn", id="btnDeleteUser"+user.ID, user=user.ID, value="Delete")
                        
