

#outer-dropzone {
  position: absolute;
  top: 30%;
  left: 18%;
  height: 25%;
  width: 25%;
}

#inner-dropzone {
  position: absolute;
  top: 30%;
  left: 45%;
  height: 25%;
  width: 25%;
}

#godzina {
  position: relative;
  top: 290px;
  left: 18%;
  height: 200px;
  width: 200px;
}

#brejk {
    position: relative;
    top: 350px;
    left: 30%;
    height: 5%;
    width: 35%;
}

.test {
  background-color: #ddd;
}


.multimedia {
  position: relative;
  top: -200px;
  left: 70%;
  width: 10%;
}

.Ekran1 {
  position: absolute;
  top: 57%;
  left: 18%;
  height: 60%;
  width: 70%;
}

.Napisy1 {
  position: absolute;
  top: 66%;
  left: 20%;
  height: 10%;
  width: 5%;

}

.Ekran2 {
  position: absolute;
  top: 57%;
  left: 45%;
  height: 60%;
  width: 70%;
}

.Napisy2 {
  position: absolute;
  top: 66%;
  left: 47%;
  height: 10%;
  width: 5%;

}


.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;

  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
