body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}
a {
    color: #00b7ff;
}
ul.leftmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 80%;
    overflow: auto;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.main-content {
    margin-left: 17%;
    padding: 1px 16px;
    height: 80%;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #efefef;
    text-align: center;
    font-size: 12px;
}

table .content {
    border-spacing: 10px;
    border-collapse: collapse;
}

th {
    vertical-align: middle;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

td {
    vertical-align: middle;

}
