#date {
    position: absolute;
    top: 85%;
    left: 2%;
    height: 10%;
    width: 8%;
}

#time {
    font-size: xx-large;
    position: absolute;
    top: 95%;
    left: 3%;
    height: 5%;
    width: 8%;
}

#breakingNews {
    position: absolute;
    font-size: xx-large;
    top: 85%;
    left: 11%;
    height: 10%;
    width: 64%;
}

#count {
  position: absolute;
  top: 81%;
  left: 6%;
  height: 5%;
  width: 5%;
}

#count2 {
  position: absolute;
  top: 81%;
  left: 92%;
  height: 5%;
  width: 5%;
}

#logo {
  position: absolute;
  top: 83%;
  left: 76%;
  height: 15%;
  width: 23%;
}

#IMG0 {
  position: absolute;
  top: 1%;
  left: 5%;
  height: 80%;
  width: 90%;
}

#VIDEO0 {
  position: absolute;
  top: 1%;
  left: 5%;
  height: 80%;
  width: 90%;
}

#PDF0 {
  position: absolute;
  top: 1%;
  left: 5%;
  height: 80%;
  width: 90%;
}

#IMG1 {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 82%;
  width: 47%;
}

#VIDEO1 {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 82%;
  width: 47%;
}

#PDF1 {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 82%;
  width: 47%;
}

#IMG2 {
  position: absolute;
  top: 1%;
  left: 51%;
  height: 82%;
  width: 47%;
}

#VIDEO2 {
  position: absolute;
  top: 1%;
  left: 51%;
  height: 82%;
  width: 47%;
}

#PDF2 {
  position: absolute;
  top: 1%;
  left: 51%;
  height: 82%;
  width: 47%;
}

#tempSite {
  position: absolute;
  top: 45%;
  left: 45%;
  height: 50%;
  width: 50%;
}


#breakingNewsContent {
    position: relative;
    text-align: center;
    top: 30%;
}

#breakingNewsCategory {
    position: fixed;
    line-height: 100%;
    font-size: x-large;
}




.test {
    background-color: #ddd;
}

.obrazki {
    position: relative;
    top: 230px;
    left: 30%;
    height: 10%;
    width: 10%;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}
