<!DOCTYPE html>
<html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/date.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-3.1.0.min.js"></script>

    <script type="text/javascript">

    localStorage.setItem("TemplateStart", "<%= StartTemplate %>");
    localStorage.setItem("TemplateEnd", "<%= StopTemplate %>");

        function startTime() {
            var today = new Date();
            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            $('#date').attr('datetime', (today.getFullYear() + "-" + (today.getMonth()) + "-" + today.getDate()));
            $(".weekday").text(days[today.getDay()]);
            $(".day").text(today.getDate());
            $(".month").text(monthNames[today.getMonth()]);
            $(".year").text(today.getFullYear());
            var s = today.getSeconds();
            if (s < 10)
                s = "0" + s;
            $("#time").text(today.getHours() + ':' + today.getMinutes() + ':' + s);
            setTimeout('startTime()', 500);
            setTimeout('location.reload()', <%= maxDur %> * 1000);
        }

        <% var i = 0; %>
        <% var j = 0; %>
        <% var tempTime = 0; %>
        <% var tempDur = 0; %>

        <% var tempTime2 = 0; %>
        <% var tempDur2 = 0; %>


        function getBreakingNews() {
            $.post("/getBreakingNews", {}).done(function(result) {
                if (result == 'none') {
                    $('#breakingNews').hide();
                    $("#breakingNewsContent").empty();
                    $("#breakingNewsCategory").empty();
                } else {
                    var color;
                    var path;
                    switch (result[1]) {
                        case 'info':
                            color = '#b3d9ff'
                            path = "images/inform.ico"
                            break;
                        case 'danger':
                            color = '#f67f7f'
                            path = "images/danger.ico"
                            break;
                        case 'important':
                            color = '#dce721'
                            path = "images/important.ico"
                            break;
                        case 'success':
                            color = '#72C774'
                            path = "images/success.ico"
                            break;
                    }
                    $("#breakingNewsContent").empty();
                    $("#breakingNewsCategory").empty();

                    if (result[0].length > 50) {
                        $('#breakingNewsContent').prepend("<marquee>" + result[0] + "</marquee>");
                    } else {
                        $('#breakingNewsContent').prepend(result[0]);
                    }
                    $('#breakingNews').css('background', color);
                    $('#breakingNewsCategory').prepend('<img id="' + result[1] + '" src="' + path + '"  height="40" width="40" />');
                    //result[2] - startTime //result[3] - endTime
                    localStorage.setItem("startTime", result[2]);
                    localStorage.setItem("endTime", result[3]);
                }
            });
        }
    </script>

</head>

<body onload="startTime(); getBreakingNews();">

  <img id="logo" src="./images/LOG_VETOQUINOL_CMYK_TAGLINE.jpg">

    <time id="date" datetime="" class="date-as-calendar position-em size1_5x">
        <span class="weekday"></span>
        <span class="day"></span>
        <span class="month"></span>
        <span class="year"></span>
    </time>
    <span id="time"></span>

    <div id="breakingNews" class="test">
        <div id="breakingNewsCategory"></div>
        <div id="breakingNewsContent">
            <script>
            if (new Date() < new Date(localStorage.getItem("startTime")) ||
                new Date() > new Date(localStorage.getItem("endTime"))) {
                $('#breakingNews').hide();
                localStorage.removeItem("startTime");
                localStorage.removeItem("endTime");
            } else {
                $('#breakingNews').show();
                getBreakingNews();
            }
            </script>
        </div>
    </div>

    <div id="screen1"></div>
    <div id="screen2"></div>
    <div id="count"></div>
    <div id="count2"></div>


    <div id="TemplateContent">
        <script>
        if ((new Date() < new Date(localStorage.getItem("TemplateStart"))) ||
            (new Date() > new Date(localStorage.getItem("TemplateEnd")))) {

              localStorage.removeItem("TemplateStart");
              localStorage.removeItem("TemplateEnd");
        } else {

          <% if(FileToScreen1.length == 0){ %>
              <div id="screen1" style="{position: absolute; top: 3%; left: 3%; height: 70%; width: 45%;}">Brak elementow na ekranie 1</div>
              setTimeout('location.reload()', 5 * 1000);
          <% } else { %>
          <% for( i; i <  FileToScreen1.length; i++ ){ %>

              //console.log("<%= FileToScreen1[i] %>");
            <% if(i == 0) { %>
              <% tempTime = FileToScreen1[0].FileDuration %>
              <% tempDur = tempTime %>
              <% FileToScreen1[0].FileDuration = 0 %>

            <% }  %>
            <% if(i > 0) { %>
              <% tempTime = FileToScreen1[i].FileDuration %>
              <% FileToScreen1[i].FileDuration = tempDur %>

              <% tempDur += tempTime; %>

            <%  } %>



          <% if(FileToScreen1[i].Name.split("/")[3].split(".")[1] == "gif") {   %>


            setTimeout(function(){
              $("#screen1").empty();
              $('#screen1').prepend('<img id="IMG1" src="<%= FileToScreen1[i].Name %>"  >')
              $("#count").empty();
              $('#count').prepend('<p> <%= i + 1 %> z <%= FileToScreen1.length %>')
            },
              <%= FileToScreen1[i].FileDuration %> * 1000 ); %>

          <%  }  %>

          <% if(FileToScreen1[i].Name.split("/")[3].split(".")[1] == "png") {   %>


            setTimeout(function(){
              $("#screen1").empty();
              $('#screen1').prepend('<img id="IMG1" src="<%= FileToScreen1[i].Name %>" >')
              $("#count").empty();
              $('#count').prepend('<p> <%= i + 1 %> z <%= FileToScreen1.length %>')
            },
              <%= FileToScreen1[i].FileDuration %> * 1000 ); %>

          <%  }  %>


          <% if(FileToScreen1[i].Name.split("/")[3].split(".")[1] == "jpg") {   %>


            setTimeout(function(){
              $("#screen1").empty();
              $('#screen1').prepend('<img id="IMG1" src="<%= FileToScreen1[i].Name %>" >')
              $("#count").empty();
              $('#count').prepend('<p> <%= i + 1 %> z <%= FileToScreen1.length %>')
            },
              <%= FileToScreen1[i].FileDuration %> * 1000 ); %>

          <%  }  %>

          <% if(FileToScreen1[i].Name.split("/")[3].split(".")[1] == "mp4") {   %>

            setTimeout(function(){
              $("#screen1").empty();
              $('#screen1').prepend('<video id="VIDEO1" autoplay > <source id="VIDEO1L" src="<%= FileToScreen1[i].Name %>" type="video/mp4" > </video>');
              $("#count").empty();
              $('#count').prepend('<p> <%= i + 1 %> z <%= FileToScreen1.length %>')
            },
            <%= FileToScreen1[i].FileDuration %> * 1000 );

          <%  }  %>

          <% if(FileToScreen1[i].Name.split("/")[3].split(".")[1] == "pdf") {   %>

            setTimeout(function(){
              $("#screen1").empty();
              $('#screen1').prepend('<div id="PDF1DIV"> <embed id="PDF1" src="<%= FileToScreen1[i].Name %>#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&highlight=0" type=\'application/pdf\' /> </div>');
              $("#count").empty();
              $('#count').prepend('<p> <%= i + 1 %> z <%= FileToScreen1.length %>')
              //$('#screen1').prepend('<div overflow: auto;"> <iframe id="PDF1" src="<%= FileToScreen1[i].Name %>" scrolling="no"> </iframe> </div>');

            },
            <%= FileToScreen1[i].FileDuration %> * 1000 ); %>

          <%  }  %>

          <% } %>
          <% } %>

          <% if(FileToScreen2.length == 0){ %>
              <div id="screen2" style="{position: absolute;top: 3%; left: 52%; height: 70%; width: 45%;}">Brak elementow na ekranie 2</div>
          <% } else { %>
          <% for( j; j <  FileToScreen2.length; j++ ){ %>

              //console.log("<%= FileToScreen1[i] %>");
            <% if(j == 0) { %>
              <% tempTime2 = FileToScreen2[0].FileDuration %>
              <% tempDur2 = tempTime2 %>
              <% FileToScreen2[0].FileDuration = 0 %>

            <% }  %>
            <% if(j > 0) { %>
              <% tempTime2 = FileToScreen2[j].FileDuration %>
              <% FileToScreen2[j].FileDuration = tempDur2 %>

              <% tempDur2 += tempTime2; %>

            <%  } %>



          <% if(FileToScreen2[j].Name.split("/")[3].split(".")[1] == "gif") {   %>


            setTimeout(function(){
              $("#screen2").empty();
              $('#screen2').prepend('<img id="IMG2" src="<%= FileToScreen2[j].Name %>"  >')
              $("#count2").empty();
              $('#count2').prepend('<p> <%= j + 1 %> z <%= FileToScreen2.length %>')
            },
              <%= FileToScreen2[j].FileDuration %> * 1000 ); %>

          <%  }  %>

          <% if(FileToScreen2[j].Name.split("/")[3].split(".")[1] == "png") {   %>


            setTimeout(function(){
              $("#screen2").empty();
              $('#screen2').prepend('<img id="IMG2" src="<%= FileToScreen2[j].Name %>" >')
              $("#count2").empty();
              $('#count2').prepend('<p> <%= j + 1 %> z <%= FileToScreen2.length %>')
            },
              <%= FileToScreen2[j].FileDuration %> * 1000 ); %>

          <%  }  %>

          <% if(FileToScreen2[j].Name.split("/")[3].split(".")[1] == "jpg") {   %>


            setTimeout(function(){
              $("#screen2").empty();
              $('#screen2').prepend('<img id="IMG2" src="<%= FileToScreen2[j].Name %>" >')
              $("#count2").empty();
              $('#count2').prepend('<p> <%= j + 1 %> z <%= FileToScreen2.length %>')
            },
              <%= FileToScreen2[j].FileDuration %> * 1000 ); %>

          <%  }  %>

          <% if(FileToScreen2[j].Name.split("/")[3].split(".")[1] == "mp4") {   %>

            setTimeout(function(){
              $("#screen2").empty();
              $('#screen2').prepend('<video id="VIDEO2" autoplay> <source id="VIDEO2P" src="<%= FileToScreen2[j].Name %>" type="video/mp4"> </video>');
              $("#count2").empty();
              $('#count2').prepend('<p> <%= j + 1 %> z <%= FileToScreen2.length %>'))
            },
            <%= FileToScreen2[j].FileDuration %> * 1000 );

          <%  }  %>

          <% if(FileToScreen2[j].Name.split("/")[3].split(".")[1] == "pdf") {   %>

            setTimeout(function(){
              $("#screen2").empty();
              $('#screen2').prepend('<embed id="PDF2" src="<%= FileToScreen2[j].Name %>" type=\'application/pdf\'>');
              $("#count2").empty();
              $('#count2').prepend('<p> <%= j + 1 %> z <%= FileToScreen2.length %>')
            },
            <%= FileToScreen2[j].FileDuration %> * 1000 ); %>

          <%  }  %>
          <%   } %>
          <% } %>
          }
          </script>

    </div>



</body>

</html>
