<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/date.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-3.1.0.min.js"></script>

    <script type="text/javascript">

        function startTime() {
            var today = new Date();
            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            $('#date').attr('datetime', (today.getFullYear() + "-" + (today.getMonth()) + "-" + today.getDate()));
            $(".weekday").text(days[today.getDay()]);
            $(".day").text(today.getDate());
            $(".month").text(monthNames[today.getMonth()]);
            $(".year").text(today.getFullYear());
            var s = today.getSeconds();
            var m = today.getMinutes()
            var h = today.getHours();
            if (s < 10)
                s = "0" + s;
            if (m < 10)
                m = "0" + m;
            if (h < 10)
                h = "0" + h;
            $("#time").text(h + ':' + m + ':' + s);
            setTimeout('startTime()', 500);
            setTimeout('location.reload()',  1000);

        }

        function getBreakingNews() {
            $.post("/getBreakingNews", {}).done(function(result) {
                if (result == 'none') {
                    $('#breakingNews').hide();
                    $("#breakingNewsContent").empty();
                    $("#breakingNewsCategory").empty();
                } else {
                    var color;
                    var path;
                    switch (result[1]) {
                        case 'info':
                            color = '#b3d9ff'
                            path = "images/inform.ico"
                            break;
                        case 'danger':
                            color = '#f67f7f'
                            path = "images/danger.ico"
                            break;
                        case 'important':
                            color = '#dce721'
                            path = "images/important.ico"
                            break;
                        case 'success':
                            color = '#72C774'
                            path = "images/success.ico"
                            break;
                    }
                    $("#breakingNewsContent").empty();
                    $("#breakingNewsCategory").empty();

                    if (result[0].length > 50) {
                        $('#breakingNewsContent').prepend("<marquee>" + result[0] + "</marquee>");
                    } else {
                        $('#breakingNewsContent').prepend(result[0]);
                    }
                    $('#breakingNews').css('background', color);
                    $('#breakingNewsCategory').prepend('<img id="' + result[1] + '" src="' + path + '"  height="40" width="40" />');
                    //result[2] - startTime //result[3] - endTime
                    localStorage.setItem("startTime", result[2]);
                    localStorage.setItem("endTime", result[3]);
                }
            });
        }
    </script>

</head>

<body onload="startTime();getBreakingNews();">

    <time id="date" datetime="" class="date-as-calendar position-em size1_5x">
        <span class="weekday"></span>
        <span class="day"></span>
        <span class="month"></span>
        <span class="year"></span>
    </time>
    <span id="time"></span>

    <div id="tempSite">No element to display</div>

    <div id="breakingNews" class="test">
        <div id="breakingNewsCategory"></div>
        <div id="breakingNewsContent">
            <script>
            if (new Date() < new Date(localStorage.getItem("startTime")) ||
                new Date() > new Date(localStorage.getItem("endTime"))) {
                $('#breakingNews').hide();
                localStorage.removeItem("startTime");
                localStorage.removeItem("endTime");
            } else {
                $('#breakingNews').show();
                getBreakingNews();
            }
            </script>
        </div>
    </div>

</body>

</html>
