doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/EditTemplate.css')
    link(rel='stylesheet', href='/stylesheets/jquery.datetimepicker.css')
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/jquery.datetimepicker.full.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    
    
    
  body
    include templates/leftmenu.jade
    block content
    include templates/footer.jade
