extends layout
block content
    div.main-content
        h1 
            div#note Welcome to login site

        -if (message.length > 0)
            div(class="alert alert-danger") #{message}            

        form(id = "loginForm", enctype = "", action = "/login", method = "post", style='white-space:pre;')
            table(class="table table-condensed")
                tr
                    td(align="center", style="vertical-align:middle")
                        | Login:
                    td(align="center", style="vertical-align:middle")
                        input(type = "text", name = "login", style="width:200px")
                tr
                    td(align="center", style="vertical-align:middle")
                        | Password:
                    td(align="center", style="vertical-align:middle")
                        input(type = "password", name = "password", style="width:200px")
                tr
                    td(colspan="2", align="center")
                        input(type = "submit", value = "Login", name = "submit", style="width:100px")
                        | <br>
